<%- include('partials-admin/header.ejs') %>
    <div class="connexion-admin">


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Bienvenue Jeune aventurier, si tu es arrivé jusqu'ici ce n'est pas un hasard! <br> connectez-vous
                    pour afficher le tableau d'administration
                </div>

            </div>

            <div class="row">
                <div class="col-md-5">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-primary mb-2">Connexion</button>
                    </form>

                    <button class="btn btn-primary">Retour sur la page principale</button>
                </div>

            </div>

        </div>
    </div>
    <%- include('partials-admin/footer') %>