<%- include('partials/header') %>
    <section class="connexion mb-5">

        <div class="container">

            <p class="text-center text-co">Bienvenue à toi jeune entrepreneur,<br>
                si tu es arrivé ici ce n'est pas un hasard. Rentre donc ton identifiant et ton mot de passe si tu l'oses.<br>
                Que saradomin soit avec toi ! Kiflom
            </p>

            <div class="row ">

                <form action="/admin/connexion?_method=POST" method="POST">
                    <div class="col-md-12 mb-3 form-connexion">
                        <label for="exampleInputEmail1" class="form-label">Adresse Email :</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="email">
                        <% if(messemail.length> 0) {%>
                            <div class="alert alert-danger mb-2" role="danger">
                                <%= messemail %>
                            </div>
                            <%}%>
                                <label for="exampleInputPassword1" class="form-label">Mot de passe :</label>
                                <input type="password" class="form-control mb-2" id="exampleInputPassword1"
                                    name="motdepasse">
                                <% if(messmdp.length> 0) {%>
                                    <div class="alert alert-danger mb-2" role="danger">
                                        <%= messmdp %>
                                    </div>
                                    <%}%>
                                    <a href=""><button type="submit" class="btn btn-primary ">Connexion</button></a>
                </form>
                <a href="/"><button class="btn btn-danger ml-2">Retour</button></a>
                    </div>
                    
                
            </div>
            
            



        </div>

    </section>
    <%- include('partials/footer') %>