<%- include('partials/header') %>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h2>Les jeux de Gestion</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <div class="article">
                <div class="image-article">

                </div>
                <div class="texte-article">
                    <div class="titre-article">
                        <h4></h4>
                    </div>
                    <div class="description-article">
                        <p></p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
<%- include('partials/footer') %>