* {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
    
}
/*HEADER*/



.navbar-brand{
    color: #fff;
    font-family: 'Changa', sans-serif;
    
}

.navbar-brand:hover{
    color: #00a7bd;
}

#z{
    color: red;
    font-size: 40px;
}

ul a{
    text-decoration: none;
    width: 200px;
    font-size: 20px;
}
.cool-link {
    color: #fff;
}

.cool-link::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background:red;
    transition: width 0.3s;
}

.cool-link:hover{
    color: #00a7bd;
}

.cool-link:hover::after{
    width: 100%;
    transition: width 0.3s;
    
}

.head:hover {
    transform: scale(1.3);
    transition: 0.5s all;
}

.onglet{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 20px;
}

/*HEADER ADMIN*/
li{
    list-style-type: none;
    
}

/* BODY */

body{
    color: #262626;
    
}

h1,h2,h3,h4,h5 {
    font-family: 'Changa', sans-serif;

}


/*PAGE PRINCIPALE*/
/*BLOCK INTRODUCTION*/
.introduction{
    width: 100%;
    position: relative;
    bottom: 50px;
    background-color: #087CA7;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.introduction-txt{
    width: 1600px;
    padding: 40px;
    margin:0px 50px;
}

.introduction h1{
    text-align: center;
    margin-bottom: 40px;
}

.presentation-intro{
    font-size: 18px;
    
}


/*BLOCK CATEGORIE*/
.titre-pageprincipale{
    text-align: center;
    margin-bottom: 40px;
    
}

.card-text {
    color: #262626;
}

.carte{
    text-decoration: none;
}

.cards{
    transition: 0.5s all;
}

.cards:hover{
    transform: scale(1.05)
}

/*BLOCK APROPOS*/
#apropos{
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-attachment: fixed;
    border-radius: 2px;
    width: 100%;
    position: relative;
    color: #fff;

}

.img-text-propos{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.image-propos {
    width: 200px;
    border-radius: 1px;
    margin: 20px 40px;
    
}

.text-propos{
    margin-top: 100px;
    width: 70%;
}

/*PAGE AFFICHAGE JEU PAR CATEGORIE*/


.titre-page{
    text-align: center;
    margin-bottom: 50px;
}
.article{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #8595a5;
    padding: 50px;
    border-radius: 2px;
    box-shadow:1px 1px 1px 1px #5c5c5c;
    margin-bottom: 40px;
}

.texte-article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px
}

/*PAGE INSCRIPTION*/

.inscription {
    margin-left: 20px;
    margin-bottom: 20px;
}

/*PAGE CONNEXION*/


.intro-connexion{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 20px;
}

.block-connexion{
    padding: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.black-btn{
    display: flex;
}

.btn-connexion{
    margin-right: 20px;
}

/*TABLEAU DE BORD*/
.block-bouton{
    display: flex;
    margin-top: 20px;
    
}

.ajouter{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.deconnexion{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}
/*PAGE AJOUT ARTICLE*/
select{
    color: #262626;
}
option{
    color: #262626;
}

.ajout-article{
    margin-left: 20px;
    margin-bottom: 20px;
}


.bouton{
    margin-left: 20px;
    margin-bottom: 20px;
}
/*PAGE MODIFICATION ARTICLE*/
.edit {
    margin-left: 20px;
    margin-bottom: 20px
}
.edit-image{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.edit-image-actuelle{
    margin-left: 20px;
    margin-bottom: 20px;
}


/* FOOTER */

footer{
    background-color: #262626;
    color: #fff;
}

.wrapper{

    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 20px;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    width: 30%;
}

.hidden{
    border: none;
    background: none;
}

.nav{

    list-style-type: none;
    text-decoration: none;
    border-left: 1px #fff solid;
    width: 40%;
    

}


.question-secretes{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    
}

.easteregg{
    width: 50px;
    margin: 10px;
}

.foot-nav-link {

        text-decoration: none;
        list-style-type: none;
        color: #fff;
        
}

.foot-nav-link li {

    padding-top: 10px; 

}

.foot:hover{
    transform: translateX(10px);
    transition: 0.5s all;
}

.network{

    text-decoration: none;
    width: 30%;
    
}

.social-icon{

    color: #fff;
    list-style-type: none;
    padding-top: 10px;

}