* {
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    color: #fff;
    
}

.carte{
    text-decoration: none;
}

.navbar-brand{
    color: #fff;
}

.navbar-brand:hover{
    color: #00a7bd;
}

/* BODY */
body{
    
    background-color: #00a7bd;
    background-image: -webkit-linear-gradient( -40deg, #00a7bd 0%, #00a7bd 40%, #2b2a2a 40%, #2b2a2a 50%);
    background-image: linear-gradient( -40deg, #00a7bd 0%, #00a7bd 40%, #2b2a2a 40%, #2b2a2a 50%);
}

.card-text {
    color: #262626;
}

.row {
    display: flex;
    justify-content: center;
}

/*HEADER ADMIN*/
li{
    list-style-type: none;
}

/*PAGE AJOUT ARTICLE*/
select{
    color: #262626;
}
option{
    color: #262626;
}
/* FOOTER */

footer{
    background-color: #262626;
    color: #fff;
}

.wrapper{

    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 20px;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    width: 30%;
}

.nav{

    list-style-type: none;
    text-decoration: none;
    border-left: 1px #fff solid;
    width: 40%;

}

.foot-nav-link {

        text-decoration: none;
        list-style-type: none;
        color: #fff;
        
}

.foot-nav-link li {

    padding-top: 10px; 

}

.network{

    text-decoration: none;
    width: 30%;
    
}

.social-icon{

    color: #fff;
    list-style-type: none;
    padding-top: 10px;

}