* {
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    color: #fff;
    
}
/*HEADER*/



.navbar-brand{
    color: #fff;
}

.navbar-brand:hover{
    color: #00a7bd;
}

ul a{
    text-decoration: none;
    width: 300px;
    font-size: 20px;
}

.cool-link::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background:#00a7bd;
    transition: width 0.3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width 0.3s;
}


/*HEADER ADMIN*/
li{
    list-style-type: none;
    
}

/* BODY */
body{
    background-image: url(./images/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.card-text {
    color: #262626;
}

.carte{
    text-decoration: none;
}

.cards{
    transition: 0.5s all;
}

.cards:hover{
    transform: scale(1.05)
}

/*PAGE PRINCIPALE*/
.introduction{
    width: 100%;
    transform: scaleX(30px);
    transition: 0.5s all linear;
    background-color: rgba(54, 54, 54, 0.753);
}

#apropos{
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    width: 100%;
    position: relative;
    box-shadow:0px 10px 40px 10px #fff ;
    
}

.img-text-propos{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.image-propos {
    width: 200px;
    border-radius: 1px;
    margin: 20px 40px;
    
}

.text-propos{
    margin-top: 100px;
    width: 70%;
}

/*PAGE AFFICHAGE JEU PAR CATEGORIE*/
.titre-page{
    text-align: center;
}
.article{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.texte-article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px
}

/*PAGE INSCRIPTION*/

.inscription {
    margin-left: 20px;
    margin-bottom: 20px;
}

/*TABLEAU DE BORD*/
.block-bouton{
    display: flex;
    margin-top: 20px;
    
}

.ajouter{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.deconnexion{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}
/*PAGE AJOUT ARTICLE*/
select{
    color: #262626;
}
option{
    color: #262626;
}

.ajout-article{
    margin-left: 20px;
    margin-bottom: 20px;
}


.bouton{
    margin-left: 20px;
    margin-bottom: 20px;
}
/*PAGE MODIFICATION ARTICLE*/
.edit {
    margin-left: 20px;
    margin-bottom: 20px
}
.edit-image{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.edit-image-actuelle{
    margin-left: 20px;
    margin-bottom: 20px;
}


/* FOOTER */

footer{
    background-color: #262626;
    color: #fff;
}

.wrapper{

    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 20px;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    width: 30%;
}

.nav{

    list-style-type: none;
    text-decoration: none;
    border-left: 1px #fff solid;
    width: 40%;

}

.foot-nav-link {

        text-decoration: none;
        list-style-type: none;
        color: #fff;
        
}

.foot-nav-link li {

    padding-top: 10px; 

}

.network{

    text-decoration: none;
    width: 30%;
    
}

.social-icon{

    color: #fff;
    list-style-type: none;
    padding-top: 10px;

}